html{height:100%}
body{height:100%;margin:0;padding:0}
.map-container{height:100%;width:100%}
#map{width:100%;height:100%}
header{padding:10px;position:fixed;top:10px;left:10px;z-index:1}
h2,h5{color:#A80000}
.location-form{overflow:hidden;box-shadow:#333 0 0 5px}
.location-form input[type=text]{border:3px solid #A80000;padding:5px;min-width:260px}
.location-form input[type=submit]{background:#A80000;color:#fff;margin:-4px;border:0;padding:8px}
.results{background:rgba(255,255,255,.8);border-left:1px solid #888;box-shadow:#aaa -1px 0 3px;max-width:240px;position:fixed;right:0;top:0;height:100%;overflow-y:scroll}
.msg-to-user{background:#fff;border-bottom:2px solid #ddd;box-shadow:#333 0 1px 3px;padding:10px;margin:0;width:100%}
.results .address{font-size:.85em;margin:0 0 10px}
.nearby-list{padding:0;list-style:none}
.nearby-list li{padding:10px;border-bottom:1px solid #ddd}
.nearby-list li.active{font-size:1.25em;background-color:#A80000;background-image:url(../images/pizzaPattern.png);background-size:cover;color:#fff;text-shadow:#000 1px 1px 3px;border-top:1px solid #777;border-bottom:1px solid #777}
.nearby-list li.active h5{color:#fff;font-size:1.25em}
.nearby-list li:last-child{border-bottom:0}
.nearby-list li:hover{cursor:pointer}
.place-wrapper{padding:10px;line-height:1.35;overflow:hidden;white-space:nowrap}
.slick-slider.photos{position:fixed;bottom:0;z-index:100;background:#fff;padding:10px;max-height:220px;width:60%;box-shadow:#333 0 0 5px}