$primaryColour: #A80000;

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map { 
  float: right;
  width: 75%;
  height: 100%;
}

header {
/*  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1;*/
}

h2, h5 {
  color: $primaryColour;
}

.location-form input[type="text"] {
  border: 3px solid $primaryColour;
  padding: 5px;
  min-width: 260px;  
}

.location-form input[type="submit"] {
  background: $primaryColour;
  color: #fff;
  margin: -4px;
  border: 0;
  padding: 8px;
}

.results {

}

.nearby-list {
  padding: 0;
  list-style: none;
}

.nearby-list li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.nearby-list li:hover {
  cursor: pointer;
/*  background: $primaryColour;
  color: #fff;*/
}

/*removes scroll bar from infowindows*/
.place-wrapper {
  padding: 20px;
  line-height:1.35;
  overflow:hidden;
  white-space:nowrap;
}

